@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}

/* Fix for list display in prose content */
.prose ul {
  list-style: disc;
  padding-left: 2em;
}

.prose ol {
  list-style: decimal;
  padding-left: 2em;
}

.prose li {
  display: list-item;
}
